<nav class="navbar navbar-expand-sm bg-secondary navbar-dark">
  <ul class="navbar-nav">
    <div class="navbar-header">
      <%= link_to "Bowling Score Calculator System", games_path, class: "navbar-brand" %>
    </div>
    <li class="nav-item active"><%= link_to "Players", users_path, class: "nav-link" -%></li>
    <li class="nav-item active"><%= link_to "Create User", new_user_path, class: "nav-link" -%></li>
  </ul>
</nav>